body {
  background-image: url("./img/galaxy.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: #632C84;
  padding: 30px;
}

h1 {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: xxx-large;
  text-align: center;
}

p {
  font-size: 20px;
  color: white;
}

img {
  width: 600px;
  border: 1px solid black;
}

.imagenes {
  display: flex;
  justify-content: space-around;
}

.videos {
  display: flex;
  justify-content: space-around;
}

.videos-title {
  margin-bottom: 35px;
}

.videos img {
  border-radius: 50%;
  box-shadow: rgba(6, 6, 6, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 250px;
  border: 3px solid white;
}

.videos a:last-child {
  margin-left: 30px;
}

.videos a {
  transition: all .2s ease-in-out;
}

.videos a:hover {
  transform: scale(1.1);
}

.second img {
  margin-left: 20px;
}